@import url("main.css");
@import url("utils//colors.css");

span.name {
  color: var(--secondary-color);
}

span.react {
  color: #61dbfb;
  font-weight: bold;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  margin-top: 4rem !important;
}

/* Section */
section {
  height: calc(100vh - 4rem);
  padding-top: 5rem;
}

section .section-title {
  font-weight: bold;
  font-size: xx-large;
  margin: 0 0 1.5rem 0;
}

#toggleThemeBtn {
  background: transparent;
  border: none;
  color: var(--background-color);
  cursor: pointer;
  font-size: larger;
  padding: 1rem;
}
